[submodule "lisp/site-packages/insert-translated-name"]
	path = lisp/site-packages/insert-translated-name
	url = https://github.com/manateelazycat/insert-translated-name.git
[submodule "lisp/site-packages/company-english-helper"]
	path = lisp/site-packages/company-english-helper
	url = https://github.com/manateelazycat/company-english-helper.git
[submodule "lisp/site-packages/aweshell"]
	path = lisp/site-packages/aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "lisp/site-packages/awesome-pair"]
	path = lisp/site-packages/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
[submodule "lisp/site-packages/flex"]
	path = lisp/site-packages/flex
	url = https://github.com/manateelazycat/flex.git
[submodule "lisp/site-packages/bison"]
	path = lisp/site-packages/bison
	url = https://github.com/manateelazycat/bison.git
