/site-packages/
/auto-save-list/
/elpa/
/eshell/
/games/
/pyim/
/request/
/url/
/transient/
/mspyls/
/eclipse.jdt.ls/
/workspace/
/.cache/
/.cask/
/persist/

tramp
lisp/conf-custom.el
.last-package-update-day
.dap-breakpoints
.directory
.projectile
.lsp-session
.lsp-session-v1
.org-id-locations
.projectile
bookmarks
projectile-bookmarks.eld
projectile.cache
recentf
