auto-save-list/
elpa/
eshell/
games/
pyim/
site-packages/
request/
url/
transient/

tramp
lisp/conf-custom.el
.last-package-update-day
.directory
.projectile
.lsp-session
.lsp-session-v1
.org-id-locations
.projectile
bookmarks
projectile-bookmarks.eld
projectile.cache
recentf
